* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
  }
  
  body {
    margin: 0;
    font-family: Poppins;
    font-size: 17px;
  }
  
  .hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px 8%;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  nav .logo {
      width: 80px;

  }
  nav ul li {
      list-style: none;
      display: inline-block;
      margin-left: 40px;
  }

  nav ul li a {
      text-decoration: none;
      color: rgb(255, 255, 255);  
      font-size: 20px;
      font-family: 'Courier New', Courier, monospace;
      font-weight: 800;
      background-color: #000000;
      border: #ffffff;
  }

  nav ul li input {
    text-decoration: none;
    color: rgb(0, 0, 0);  
    font-size: 20px;
    font-family: 'Sans-serif', Arial, Helvetica, sans-serif;
    font-weight: 800;
    background-color: #ffffff;
    border: #ffffff;
}

.input{
    display: block;
}
#input{
    overflow: hidden;
    transition: 0.5s;
}


.menu-icon{
    display: block;
}
#menuList{
    overflow: hidden;
    transition: 0.5s;
}

  .video {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
      background-color: #ffd427;
  }
  @media (min-aspect-ratio: 16/9){
      .video{
          width: 100%;
          height: auto; 
      }
  }

  @media (max-aspect-ratio: 16/9){
    .video{
        width: auto;
        height: 100%;  
    }
}

  
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    width: 100%;
    padding: 0px;
    border: 0px;
    margin: 0px;
  }
  
.copyrights {
    position: fixed;
    left: 0;
    right: 0;
}
  button{
      position: relative;
      border: 0px;
      transition: .1s ease-in;
      z-index: 2;
      padding: 0px 0px;
      
      cursor: pointer;
      margin: 0px 0px;
  
  }
  button::before,
  button::after{
      position: absolute;
      content: "";
      z-index: -1;
  }

  .btn-1{
    position: absolute;
    border: 0px;
    transition: .1s ease-in;
    z-index: 1;
    padding: 0px 0px;
    
    cursor: pointer;
    margin: 0px 900px;

}
  
  .btn-1:hover {
      border:2px solid #ff96ad;
      color: #ff96ad;
      background-color: #17181c;
  }

  .btn-2{
    position: absolute;
    border: 0px;
    transition: .1s ease-in;
    z-index: 1;
    padding: 0px 0px;
    
    cursor: pointer;
    margin: 0px 925px;

}
  
  .btn-2:hover {
      border:2px solid #ff96ad;
      color: #ff96ad;
      background-color: #17181c;
  }

  .bi bi-instagram{margin:2px 2px;}
  .cr{
      text-align: center;
      bottom: 1;
      ;
  }
 

.bi bi-search{position: absolute;
    border: 0px;
    transition: .1s ease-in;
    z-index: 1;
    padding: 5px 5px;
    display: block;
    cursor: pointer;
    margin: 0px 0px;

}

#bi bi-search{
    overflow: hidden;
    transition: 0.5s;
}


  @media only screen and (max-width: 700px){
     
      
    
    .video{
        margin: 50px 50 50px;
        position:absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    nav {
        width: 100%;
        
        top: 0;
        left: 0;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav ul li {
        width: 100%;
        background: linear-gradient(#ffffff, #ffffff);
        
        top: 25px;
        right: -50px;
        z-index: 1;
        display: block;
        
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
  }